{% extends "base.html" %}
{% block content %}
<h2>Iniciar Sesión</h2>
<form method="post" class="form">
  <label>Rol:
    <select name="role" required>
      <option value="PACIENTE">Paciente</option>
      <option value="MEDICO">Médico</option>
    </select>
  </label>

  <label>Tipo de Documento:
    <select name="tipo_documento" required>
      <option value="CC">Cédula de Ciudadanía</option>
      <option value="TI">Tarjeta de Identidad</option>
      <option value="CE">Cédula de Extranjería</option>
      <option value="PA">Pasaporte</option>
    </select>
  </label>

  <label>Número de Documento
    <input name="numero_documento" required>
  </label>

  <label>Contraseña
    <input type="password" name="password" required>
  </label>

  <button class="btn" type="submit">Ingresar</button>
  <div class="muted"><a href="{{ url_for('register_get') }}">Registrarse</a></div>
</form>
{% endblock %}