{% extends "base.html" %}
{% block content %}
<h2>Registro</h2>
<div class="tabs">
  <button class="tab active" onclick="setRol('PACIENTE', this)">Pacientes</button>
  <button class="tab" onclick="setRol('MEDICO', this)">Profesionales de la Salud</button>
</div>
<form method="post" class="form">
  <input type="hidden" name="role" id="role" value="PACIENTE">
  <label>User ID <input name="user_id" required placeholder="p100 / m100"></label>
  <label>Nombre <input name="nombre" required></label>

  <div id="paciente">
    <label>Edad <input name="edad" type="number" min="0"></label>
  </div>

  <div id="medico" style="display:none">
    <label>Especialidad <input name="especialidad" placeholder="Medicina General"></label>
  </div>

  <button class="btn" type="submit">Crear</button>
  <a class="btn-outline" href="{{ url_for('login_get') }}">Ir a Login</a>
</form>

<script>
function setRol(rol, btn){
  document.getElementById('role').value = rol;
  document.querySelectorAll('.tab').forEach(b=>b.classList.remove('active'));
  btn.classList.add('active');
  document.getElementById('paciente').style.display = rol==='PACIENTE'?'block':'none';
  document.getElementById('medico').style.display = rol==='MEDICO'?'block':'none';
}
</script>
{% endblock %}
